
//
// VARIABLES
//

// Colors
$blue: hotpink;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
$helveticaNeue: 'Gloria Hallelujah', cursive;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}